<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.itdr.pojo.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="INTEGER" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="sub_images" property="subImages" jdbcType="LONGVARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="pnum" property="pnum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid,pname, subtitle,main_image,sub_images,status,price, ptype, pnum, create_time, update_time,detail
  </sql>

  <!--根据ID查询商品数据-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rlg_product
    where id = #{productId,jdbcType=INTEGER}
  </select>

  <!--根据商品名称模糊查询-->
  <select id="selectByPname" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rlg_product
    where pname like #{keyWord}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rlg_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <update id="updateByPrimaryKey" parameterType="com.itdr.pojo.Product" >
    update rlg_product
    set
      cid = #{cid,jdbcType=INTEGER},
      pname = #{pname,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=INTEGER},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sub_images = #{subImages,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      ptype = #{ptype,jdbcType=VARCHAR},
      pnum = #{pnum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>